@model IEnumerable<DotNetDuds.Models.Cart>

@{
    ViewData["Title"] = "Your Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double Total = 0;
}

@if (Model.Count() > 0)
{
    <h1>Your Cart</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="text-right">Item Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
        Total += (item.Quantity * item.Price);
            <tr>
                <td>
                    <a asp-controller="Products" asp-Action="Details" asp-route-id="@item.ProductId">@item.Product.Name</a>
                </td>
                <td>
                    @if (item.Product.Image != null)
                    {
                        <img src="~/img/product-uploads/@item.Product.Image" alt="Product Image" class="thumb" />
                    }
                    else
                    {
                        <img src="~/img/product-uploads/placeholder.gif" alt="Placeholder Image" class="thumb" />
                    }
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="text-right">
                    @String.Format("{0:c}", item.Price)
                </td>
                <td class="text-right">
                    @String.Format("{0:c}", (item.Quantity * item.Price))
                </td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to remove @item.Product.Name?');">Delete</a>
                </td>
            </tr>
    }
            <tr>
                <td colspan="5" class="text-right">
                    @String.Format("{0:c}", Total)
                </td>
                <td>
                    <a asp-action="Index" class="btn btn-primary">Keep Shopping</a>
                    <a asp-action="Checkout" class="btn btn-primary">Checkout</a>
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <h1>Your Cart is Empty</h1>
    <a class="btn btn-primary text-center" asp-action="Index">Start Shopping</a>
}